#sender, #receiver, .note-editor{
    width: 100%;
    min-height: 45vh;
    height: 100%;
    border: 1px solid;
    background-color: white;
    color: black;
}
#receiver {
    padding: 5px;
}
.panel {
    margin-bottom: 2.5vh !important;
}
#txt-roomid{
	color: black;
}
body{
    background-color: black !important;
    width: calc(95vw);
    padding-left: 2.5vw;
    overflow: auto;
}
body > *, body > .panel {
    border-radius: 10px;
}
#controls {
    align-items: stretch;
    display: flex;
    margin-bottom: 2.5vh;
}
#controls > * {
    height: 5vh;
    margin: 0;
    flex: 1 1 auto;
}
#controls > button:active {
    background-color: darkcyan;
}
/* EditorSummernote.js */
:empty.blobLoading, :empty.torrentLoading{
    display: inline-block;
	width: 30px;
	height: 30px;
	border: 8px solid green;
	border-right-color: transparent !important;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px lightgreen;
    animation: spin 1s linear infinite;
}
:empty.torrentLoading{
    border-color: red;
    box-shadow: 0 0 25px 2px lightcoral;
}
@keyframes spin{
    from{transform: rotate(0deg); opacity: 0.2;}
    50%{transform: rotate(180deg); opacity: 1.0;}
    to{transform: rotate(360deg); opacity: 0.2;}
}
/* ProgressBar */
a.torrentControls{
    cursor: pointer;
}